hr{
 border-style: dotted none none ;
 width: 5%;
border-width: 7px;
 height: 1px;
 border-color: #FFFFFF;

}
body{
  background-color: #A8ECE7;
}
h1
{
  color: #FF5959 ;
}
h3
{
  color: #66BFBF ;
}
